<%- include("partials/header.ejs") %>

<% if(locals.book) {%>
<div class="container d-flex gap-5 py-3 my-5 fs-5">
  
    <div class="detail-image-and-button d-flex flex-column align-items-center gap-4">
      <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg" class="detail-image rounded border-1" alt="book-image" />
    </div>

      <form action="/book/<%= book.id %>/edit" method="POST" class="d-flex flex-column justify-content-between gap-3">
          <div>
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" id="title" value="<%= book.title %>" class="form-control" disabled readonly>
          </div>  
        
          <div>
              <label for="author" class="form-label">Author</label>
              <input type="text" name="author" id="author" value="<%= book.author %>" class="form-control" disabled readonly>
          </div>
        
          <p class="form-label">Rating <input type="text" name="rating" id="rating" class="rounded px-2" value="<%= book.rating %>"/> / 10</p>
        
          <div>
              <label for="review" class="form-label">Review</label>
              <textarea class="form-control" name="review" id="review" rows="20" cols="145"><%= book.review_text %></textarea>
          </div>
        <button id="update" type="submit" class="btn btn-success">Update</button>
      </form>

</div>
<% } %>

<%- include("partials/footer.ejs") %>
